.report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.report-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-60 {
  height: 70vh;
}

.unpaid {
  background-color: rgba(255, 0, 0, 0.192);
}
.btn{
  position: relative;
}